.card {
  border: 0.5px solid var(--light-gray);
  background-color: var(--secondary-color);
}

.thumbnail {
  height: 100%;
  user-select: none;
}

.avatar {
  width: 3.8rem;
  height: 3.8rem;
  flex-shrink: 0;
}

.title {
  line-height: 1.2;
  font-size: 1.6rem;
  -webkit-line-clamp: 2;
}

.creator__name {
  -webkit-line-clamp: 1;
  color: var(--text-color);
}

.options {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  box-shadow: var(--shadow);
  background-color: var(--secondary-color);
}

.options button {
  text-transform: none;
}

.close__btn:hover {
  color: var(--text-color);
}

.details {
  color: var(--text-color);
}

.views,
.duration {
  margin-left: 8px;
}
