.card {
  background-color: var(--white);
  border: 0.5px solid var(--light-gray);
}

.thumbnail {
  height: 100%;
  user-select: none;
}

.avatar {
  width: 3.8rem;
  height: 3.8rem;
  flex-shrink: 0;
}

.title {
  line-height: 1.2;
  font-size: 1.6rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.creator__name {
  color: var(--text-color);
}

.options {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: 0 1px 3px 0px var(--shadow);
}

.options button {
  text-transform: none;
}

.close__btn:hover {
  color: var(--text-color);
}

.details {
  color: var(--text-color);
}

.views,
.duration {
  margin-left: 8px;
}
