/* sidebar */
.sidebar {
  min-width: 24rem;
}

.sidebar__link {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 4px;
  font-size: 1.6rem;
  padding: 1rem;
}

.active__link,
.sidebar__link:hover {
  background-color: var(--light-gray);
}
