.videos {
  max-width: 140.8rem;
}

.videos__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  justify-items: center;
  align-items: start;
  gap: 4px;
}
