/* forms */
.form-container {
  height: calc(100vh - 7.2rem);
}

form input {
  color: var(--primary-color);
  background-color: var(--content-background);
}

.login-form,
.signup-form {
  max-width: 40rem;
  height: fit-content;
  box-shadow: var(--shadow);
  background-color: var(--content-background);
}

.btn-form {
  padding: 1.2rem;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.login-error-msg {
  color: var(--red);
}

.forgot-password {
  color: var(--primary-color);
}

.logout {
  width: 100%;
  max-width: 50rem;
}

.visibility-icon {
  position: absolute;
  top: 3.8rem;
  right: 1rem;
  user-select: none;
}

.redirect-icon {
  font-size: 2.6rem;
  margin-left: -6px;
}
