@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

input,
button,
select {
  color: inherit;
  font-size: 1.4rem;
  font-family: inherit;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--dark-gray);
}
