/* text */
.text-xs {
  font-size: 1.2rem;
}

.text-sm {
  font-size: 1.4rem;
}

.text-base {
  font-size: 1.6rem;
}

.headline {
  font-size: 2.4rem;
}

/* cursor */
.cursor-auto {
  cursor: auto;
}

.cursor-pointer {
  cursor: pointer;
}

/* icons */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* border */
.border {
  border: 1px solid var(--light-gray);
}

/* container */
.main__container {
  margin: 0 auto;
  max-width: 140.8rem;
}

@media screen and (max-width: 48em) {
  .main__container {
    margin: 4rem 0;
  }
}
