:root {
  --header-background: rgba(0, 0, 0, 0.5);
}

.light {
  --link-color: #2563eb;
  --text-color: #616161;
  --primary-color: #121212;
  --secondary-color: #ffffff;
  --content-background: #f9fafb;
  --background-color: #fafafa78;
  --modal-background: rgba(0, 0, 0, 0.3);
  --shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  --navigation-background: var(--secondary-color);
}

.dark {
  --link-color: #2563eb;
  --text-color: #ffffff99;
  --primary-color: #ffffff;
  --secondary-color: #0e0e10;
  --background-color: var(--secondary-color);
  --content-background: #18181b;
  --modal-background: rgba(0, 0, 0, 0.5);
  --shadow: 0px 0px 8px 1px rgb(0 0 0 / 37%);
  --navigation-background: var(--secondary-color);
  --light-gray: #28282a;
}
