:root {
  --text-color: #616161;
  --primary-color: #121212;
  --secondary-color: #fafafa;
  --background-color: #fafafa78;
  --shadow: rgba(0, 0, 0, 0.2);
  --modal-background: rgba(0, 0, 0, 0.4);
}
