.header {
  height: 68vh;
  background-size: cover;
  background-position: 47% 45%;
  background-repeat: no-repeat;
  background-image: url("https://i.ytimg.com/vi/bInJjmH31Hk/hq720.jpg");
}

.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 48em) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 30em) {
  .videos {
    grid-template-columns: 1fr;
  }
}
