.header__container {
  max-width: 110rem;
  height: calc(100vh - 7.2rem);
}

.banner {
  max-width: 40rem;
}

.heading {
  max-width: 41rem;
  color: var(--primary-color);
}

.cta {
  width: max-content;
  letter-spacing: 0.8px;
  word-break: break-word;
  text-transform: uppercase;
  color: var(--white);
  background: var(--primary-color);
}

.cta:hover {
  opacity: 0.9;
}

.cta:hover span {
  transform: translateX(1.4rem);
}

.categories {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.category:hover {
  border: 1px solid var(--light-gray);
  box-shadow: 0 1px 3px 0px var(--shadow-color);
}

.category__name {
  width: 100%;
  font-size: 1.8rem;
  color: var(--white);
  position: absolute;
  top: 50%;
  bottom: 0;
  backdrop-filter: blur(3px);
  background-color: var(--modal-background);
}

.loader__message {
  grid-column: 2 / 4;
}

@media screen and (max-width: 60em) {
  .header__container {
    margin-top: 2rem;
    max-height: 60rem;
    height: calc(100vh - 7rem);
  }
}

@media screen and (max-width: 48em) {
  .header__container {
    flex-direction: column-reverse;
  }

  .heading {
    font-size: 4.3rem;
  }

  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 30em) {
  .categories {
    grid-template-columns: 1fr;
  }
}
