.videos__container {
  width: 100%;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  background: var(--content-background);
}

@media screen and (max-width: 48em) {
  .videos__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 34em) {
  .videos__container {
    grid-template-columns: 1fr;
  }
}
