.chip {
  margin: 4px;
  background-color: var(--white);
}

.chip:hover {
  background-color: var(--light-gray);
}

.active {
  color: var(--primary-color);
  background-color: var(--light-gray);
}
