.sidebar {
  width: 0;
  height: 100vh;
  overflow: hidden;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
}

.sidebar__header {
  color: var(--primary-color);
  background-color: var(--content-background);
}

.sidebar__close_btn span {
  font-size: 3.2rem;
  color: var(--primary-color);
}

.sidebar__link {
  margin-bottom: 4px;
}

.active__link,
.sidebar__link:hover {
  background-color: var(--light-gray);
}

@media screen and (max-width: 64em) {
  .sidebar__mobile {
    width: 30rem;
    display: block;
  }
}
