.sidebar {
  min-width: 24rem;
  height: calc(100vh - 7.3rem);
  background-color: var(--white);
  position: sticky;
  top: 7.3rem;
  border-right: 1px solid var(--light-gray);
}

.sidebar__link {
  margin-bottom: 4px;
}

.active__link,
.sidebar__link:hover {
  background-color: var(--light-gray);
}

@media screen and (max-width: 64em) {
  .sidebar {
    display: none;
  }
}
