.card {
  background-color: var(--secondary-color);
}

.thumbnail {
  width: 100%;
  min-width: 30rem;
  max-width: 30rem;
  user-select: none;
}

.title {
  -webkit-line-clamp: 1;
}

.description {
  -webkit-line-clamp: 2;
}

.details {
  margin-top: auto;
}

.details,
.description,
.creator__name {
  color: var(--text-color);
}

.views,
.duration {
  margin-left: 8px;
}

.remove__btn {
  margin-left: auto;
  visibility: hidden;
  align-self: flex-start;
}

.remove__btn:hover {
  transition: all 0.2s;
  background-color: var(--light-gray);
}

.card:hover .remove__btn {
  visibility: visible;
}

@media screen and (max-width: 30em) {
  .card {
    flex-direction: column;
  }

  .thumbnail {
    max-width: none;
    margin-bottom: 1.2rem;
  }
}
