.card {
  width: 100%;
  max-width: 60rem;
}

.thumbnail {
  user-select: none;
}

.title {
  line-height: 1.2;
  font-size: 1.6rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.close__btn:hover {
  color: var(--text-color);
}

.details {
  color: var(--text-color);
  margin-top: auto;
}

.views,
.duration {
  margin-left: 8px;
}
