.card {
  background-color: var(--white);
}

.thumbnail {
  width: 30rem;
  user-select: none;
}

.thumbnail img {
  aspect-ratio: 2/1;
  object-fit: cover;
}

.creator__name {
  color: var(--text-color);
}

.description {
  -webkit-line-clamp: 2;
}

.details {
  margin-top: auto;
  color: var(--text-color);
}

.views,
.duration {
  margin-left: 8px;
}

.remove__btn {
  margin-left: auto;
  visibility: hidden;
  align-self: flex-start;
}

.remove__btn:hover {
  background-color: var(--light-gray);
}

.card:hover .remove__btn {
  visibility: visible;
}

@media screen and (max-width: 48em) {
  .container {
    flex-direction: column;
  }
}
