.container {
  display: grid;
  grid-template-columns: 1fr;
}

.back__link {
  display: none;
}

.back__link,
.videos__count {
  color: var(--text-color);
}

.delete__btn {
  align-self: flex-start;
}

.delete__btn:hover {
  background-color: var(--light-gray);
}

.link:hover {
  text-decoration: underline;
}

/* modal */
.modal {
  width: 100%;
  max-width: 38rem;
  background-color: var(--white);
}

.message {
  color: var(--text-color);
}

.close__btn {
  margin-left: auto;
  align-self: flex-start;
}

.close__btn:hover {
  background-color: var(--light-gray);
}

.btn__outlined {
  border: 1px solid var(--primary-color);
}

.btn__clearAll,
.btn__outlined:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.btn__clearAll:hover {
  opacity: 0.8;
}

@media screen and (max-width: 64em) {
  .back__link {
    display: flex;
  }
}

@media screen and (max-width: 48em) {
  .container {
    padding: 0;
    grid-template-columns: 1fr;
  }
}
