.container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 1rem;
}

.remove__btn {
  align-self: flex-start;
}

.remove__btn:hover {
  background-color: var(--light-gray);
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 48em) {
  .container {
    grid-template-columns: 1fr;
  }
}
