.main {
  gap: 3rem;
  height: calc(100vh - 8rem);
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 48em) {
  .main {
    flex-direction: column-reverse;
  }
}
